* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-image: url(../img/abstract-digital-grid-black-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: -1;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.img-fluid {
  width: 400px;
  height: 400px;
}

.nav-link span:hover {
  border-bottom: 2px solid #dc3545;
}

#main i {
  color: white;
}

#main i:hover {
  color: #a71d2a;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

#form {
  width: 360px;
}

.form-control:focus {
  border: #dc3545 3px solid;
}

.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.card img,
.card .card-img-top {
    width: 100%;
    display: block;    /* remove inline gaps */
    height: auto;      /* keep aspect ratio */
    object-fit: cover; /* optional: crop to fill if you set a fixed height */
    border-radius: inherit; /* match card rounded corners if any */
}